.homeContainer{
  display: grid;
  overflow: hidden;
  width: 100%;
  position: relative;
  grid-template-columns: 1.2fr 2.5fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: calc(100vh-70px);
}


