.loader {
    align-self: center;
    color:rgba(129, 147, 247, 0.897);
    width: 2.5rem;
    height: 2.5rem;
    animation:spin 2s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}